<section data-type="sidebar">
  <header>
    <menu type="toolbar">
      {{#link-to 'secrets'}}Done{{/link-to}}
    </menu>
    <h1>{{accountDisplayName}}</h1>
  </header>

  <nav>
    <h2>Account</h2>
    <ul>
      <li>
        {{# if authManager.hasValidAccessToken}}
          {{# if syncButtonDisabled}}
            <a href="#" {{action 'closeDrawer'}}>Sync</a>
          {{else}}
            {{# if isSyncing}}
              <a href="#" {{action 'closeDrawer'}}>Syncing ...</a>
            {{else}}
              <a href="#" {{action 'sync'}}>Sync</a>
            {{/if}}
          {{/if}}
        {{else}}
          {{# if loginButtonDisableed}}
            <a href="#" {{action 'closeDrawer'}}>Login</a>
          {{else}}
            {{# if isAuthorizing}}
              <a href="#" {{action 'closeDrawer'}}>Logging in ...</a>
            {{else}}
              <a href="#" {{action 'login'}}>Log in</a>
            {{/if}}
          {{/if}}
        {{/if}}
      </li>
      <li><a href="#" {{action 'logout'}}>Log out</a></li>
    </ul>

    <h2>Tags</h2>
    <ul>
      {{#each currentTag in mostUsedTags}}
        <li>
          {{#link-to 'secrets' (query-params tag=currentTag.selectTag)}}
            {{current-tag currentTag.name tag}}
            {{currentTag.name}} ({{currentTag.count}})
          {{/link-to}}
        </li>
      {{/each}}
      {{# if hasMoreTags}}
        <li>
          {{#link-to 'secrets.tags'}}See more tags ...{{/link-to}}
        </li>
      {{/if}}
    </ul>
  </nav>
  {{current-version}}
</section>
