<section data-position="current" class={{position}}>

  {{outlet "drawer"}}

  <section id="secrets" role="region" class={{state}} {{action "finishTransition" on="transitionEnd"}}>

    <header class="fixed">
      {{#link-to 'secrets.drawer' }}
        <span class="icon icon-menu">menu</span>
      {{/link-to}}
      {{search-form query=query}}
    </header>

    <article class="content scrollable header">

     {{online-watcher online="online" offline="offline"}}

      <div data-type="list">
        <header>
          <small>{{secretsCount}} {{secretsNoun}}</small>
          {{#if tag}}
            <span class="tag">{{tag}}</span>
          {{/if}}
        </header>
        <ul>
          {{#each secrets as |secret|}}
            <li>
              {{#link-to 'secrets.secret' secret.id }}
                <p>{{secret.service}}</p>
                <p>{{secret.account}}</p>
              {{/link-to}}
            </li>
          {{/each}}
        </ul>
      </div>
    </article>
  </section>

</section>

<section role="status" class={{statusClass}}>
  <p>{{statusMessage}}</p>
</section>

{{outlet}}
