<section data-position="right" role="region" class={{position}} {{action "finishTransition" on="animationEnd"}} >
    <header class="fixed">
      {{#link-to 'secrets'}}
        <span class="icon icon-back">back</span>
      {{/link-to}}
      <h1>{{model.service}}</h1>
    </header>

    <article class="content scrollable header">
      {{view "secret-revealer" encryptedSecret=model.secret}}
      <header>
        <h2>Account</h2>
      </header>
      <p>{{model.account}}</p>

      {{#if model.notes}}
        <header>
          <h2>Notes</h2>
        </header>
        <p>{{model.notes}}</p>
      {{/if}}

      {{#if model.tags}}
        <header>
          <h2>Tags</h2>
        </header>
        <p>{{model.tags}}</p>
      {{/if}}
    </article>
</section>