    <section class="full-height" data-position="current" {{bind-attr class="position"}}>

      <section data-type="sidebar">
        <header>
          <menu type="toolbar">
            <a href="#" {{action 'closeDrawer'}}>Done</a>
          </menu>
          <h1>Tags</h1>
        </header>
        <nav>
          <ul>
            {{#each tag in tags}}
              <li>
                <a href="#" {{action 'selectTag' tag.name }}>
                  {{current-tag tag.name selectedTag}}
                  {{tag.name}} ({{tag.count}})
                </a>
              </li>
            {{/each}}
          </ul>
        </nav>
        {{current-version}}
      </section>

      <section id="secrets" role="region" {{bind-attr class="state"}}>
        <header class="fixed">
          <button {{action 'openDrawer'}}>
            <span class="icon icon-menu">menu</span>
          </button>
          <menu type="toolbar">
            {{# if authManager.hasValidAccessToken}}
              <button {{action 'sync'}} {{bind-attr disabled="syncButtonDisabled"}}>
                {{#if isSyncing}}
                  <progress></progress>
                {{else}}
                  <span class="icon action-icon email-sync">Sync</span>
                {{/if}}
              </button>
            {{else}}
              <button {{action 'login'}} {{bind-attr disabled="loginButtonDisabled"}}>
                {{#if isAuthorizing}}
                  <progress></progress>
                {{else}}
                  <span class="icon action-icon user">Log in</span>
                {{/if}}
              </button>
            {{/if}}
          </menu>
          <form action="#">
            {{input placeholder="Search..." value=query}}
            <button type="reset" {{action 'clearQuery'}}>Remove text</button>
          </form>
        </header>
        <article class="content scrollable header">
          <div data-type="list">
            <header>
              <strong>{{title}}</strong> <small>({{secretsCount}} {{secretsNoun}})</small>
              {{#if selectedTag}}
              <span class="tag">{{selectedTag}}</span>
              {{/if}}
            </header>
            <ul>
              {{#each secrets}}
                <li>
                  {{#link-to 'secret' id }}
                    <p>{{service}}</p>
                    <p>{{account}}</p>
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </div>
        </article>
      </section>
    </section>
    <section role="status" {{bind-attr class="statusClass"}}>
      <p>{{statusMessage}}</p>
    </section>

    {{outlet secret}}
