    <section class="full-height" data-position="current" {{bind-attr class="position"}}>

      <section data-type="sidebar">
        <header>
          <menu type="toolbar">
            <a href="#" {{action 'closeDrawer'}}>Done</a>
          </menu>
          <h1>{{displayName}}</h1>
        </header>
        <nav>
          <h2>Account</h2>
          <ul>
            <li>
              {{# if authManager.hasValidAccessToken}}
                {{# if syncButtonDisableed}}
                  <a href="#" {{action 'closeDrawer'}}>Sync</a>
                {{else}}
                  {{# if isSyncing}}
                    <a href="#" {{action 'closeDrawer'}}>Syncing ...</a>
                  {{else}}
                    <a href="#" {{action 'sync'}}>Sync</a>
                  {{/if}}
                {{/if}}
              {{else}}
                {{# if loginButtonDisableed}}
                  <a href="#" {{action 'closeDrawer'}}>Login</a>
                {{else}}
                  {{# if isAuthorizing}}
                    <a href="#" {{action 'closeDrawer'}}>Logging in ...</a>
                  {{else}}
                    <a href="#" {{action 'login'}}>Log in</a>
                  {{/if}}
                {{/if}}
              {{/if}}
            </li>
            <li><a href="#" {{action 'logout'}}>Log out</a></li>
          </ul>
          <h2>Tags</h2>
          <ul>
            {{#each tag in mostUsedTags}}
              <li>
                <a href="#" {{action 'selectTag' tag.name }}>
                  {{current-tag tag.name selectedTag}}
                  {{tag.name}} ({{tag.count}})
                </a>
              </li>
            {{/each}}
            {{# if hasMoreTags}}
            <li>
              <a href="#">See more tags ...</a>
            </li>
            {{/if}}
          </ul>
        </nav>
        {{current-version}}
      </section>

      <section id="secrets" role="region" {{bind-attr class="state"}}>
        <header class="fixed">
          <button {{action 'openDrawer'}}>
            <span class="icon icon-menu">menu</span>
          </button>
          <form action="#">
            {{input placeholder="Search..." value=query}}
            <button type="reset" {{action 'clearQuery'}}>Remove text</button>
          </form>
        </header>
        <article class="content scrollable header">
          <div data-type="list">
            <header>
              <small>{{secretsCount}} {{secretsNoun}}</small>
              {{#if selectedTag}}
              <span class="tag">{{selectedTag}}</span>
              {{/if}}
            </header>
            <ul>
              {{#each secrets}}
                <li>
                  {{#link-to 'secret' id }}
                    <p>{{service}}</p>
                    <p>{{account}}</p>
                  {{/link-to}}
                </li>
              {{/each}}
            </ul>
          </div>
        </article>
      </section>
    </section>
    <section role="status" {{bind-attr class="statusClass"}}>
      <p>{{statusMessage}}</p>
    </section>

    {{outlet}}
