<section data-position="current" {{bind-attr class="position"}}>

  {{outlet drawer}}

  <section id="secrets" role="region" {{bind-attr class="state"}} {{action "finishTransition" on="transitionEnd"}}>

    <header class="fixed">
      {{#link-to 'secrets.drawer' }}
        <span class="icon icon-menu">menu</span>
      {{/link-to}}
      <form action="#">
        {{input id="search" placeholder="Search..." value=query}}
        <button type="reset" {{action 'clearQuery'}}>Remove text</button>
      </form>
    </header>

    <article class="content scrollable header">
      <div data-type="list">
        <header>
          <small>{{secretsCount}} {{secretsNoun}}</small>
          {{#if tag}}
            <span class="tag">{{tag}}</span>
          {{/if}}
        </header>
        <ul>
          {{#each secrets}}
            <li>
              {{#link-to 'secret' id }}
                <p>{{service}}</p>
                <p>{{account}}</p>
              {{/link-to}}
            </li>
          {{/each}}
        </ul>
      </div>
    </article>
  </section>

</section>

<section role="status" {{bind-attr class="statusClass"}}>
  <p>{{statusMessage}}</p>
</section>

{{outlet}}
